.container {
    background-color: #383877;
    color: white;
    width: 751px;
    height: 100%;
}
.tittle {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
    color: white;
}

.containerInfo {
    padding-left: 4rem;
    width: 90%;
}
